.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
   
}
.profile-parent{
    display: flex;
    align-items: center;
    color: aliceblue;
}
.profile-details-name{
    font-size: 24px;
    font-family: "Poppins SemiBold";
}
.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}
.profile-details-role h1{
    font-size: 40px;
    font-family: cursive;
}
.primary-text{
    color: (--white);
}
.highlighted-text{
    color: darkorange;
}
.profile-role-tagline{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "Oxygen";
}
.profile-options .highlighted-btn{
    margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover{
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: black;
}
.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px white;
    border-radius: 50%;
    height: 375px;
    width: 375px;
    margin: 0 0px 0 100px;
}
.profile-picture-background{
    height: 90%;
    width: 90%;
    background-image: url("../../../Assets/Home/profile.jpg");
    border-radius: 50%;
}
.profile-picture-background:hover{
    transform: scale(1.11);
    transition: 1s ease-out;
}
.colz .colz-icon i{
    color: white;
    padding: 8px;
    padding-left: 5px;
}
.colz .colz-icon i:hover{
    transform: scale(2);
    transition: 1s ease-in-out;
}
@media  screen and (max-width: 1110px) {
    .profile-picture{
        margin: 0 0px 0 80px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .primary-text{
        font-size: 20px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px 10px;
        z-index: 700;
    }
}
@media  screen and (max-width: 910px){
    .profile-picture{
        height: 330px;
        width: 330px;
        margin: 0 0 0 4px;
    }
}
@media  screen and (max-width: 810px){
    .profile-picture{
        margin: 0 !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .highlighted-btn{
        margin: 0 !important;
        padding: 25px 40px;
    }
    .profile-options,
    .profile-details-role{
        text-align: center;
    }
}
@media  screen and (max-width: 375px){
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .profile-details{
        width: 90%;
    }
}